@using YummyUI.DTOs.FooterDTOs
@model ResultFooterBottomDto

@{
    var footer = Model;
<div class="container">
  <div class="row gy-3">

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div class="address">
          <h4>Address</h4>
          <p>@footer.Address</p>
         <p></p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Contact</h4>
          <p>
            <strong>Phone:</strong> <span>@footer.CallUs</span><br>
            <strong>Email:</strong> <span>@footer.EmailUs</span><br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>Mon-Sat:</strong> <span>@footer.OpeningHours</span><br>
            <strong>Sunday</strong>: <span>Closed</span>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a href="@footer" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="@footer" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="@footer" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="@footer" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    
  </div>
</div>