@using YummyUI.DTOs.GroupOrganizationChefDTO
@model List<ResultGroupOrganizationChefDto>
@{
  var groups = (Model ?? new())
  .Where(x => x.GroupOrganization != null)
  .GroupBy(x => x.GroupOrganizationId).
  Take(5)
  .ToList();
}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Grup Organizasyonları</h4>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th class="text-center">
                <div class="custom-checkbox custom-checkbox-table custom-control">
                  <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input"
                    id="checkbox-all">
                  <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                </div>
              </th>
              <th>Organizasyon İsmi</th>
              <th>Şefler</th>
              <th>Katılım Oranı</th>
              <th>Tarih</th>
              <th>Saat</th>
              <th>Priority</th>
              <th>Action</th>
            </tr>
            @foreach (var item in groups)
            {
              var first = item.FirstOrDefault();
              if (first?.GroupOrganization == null) { continue; }
              <tr>
                <td class="p-0 text-center">
                  <div class="custom-checkbox custom-control">
                    <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                    <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                  </div>
                </td>
                <td>@first.GroupOrganization.OrganizationName</td>
                <td class="text-truncate">
                  <ul class="list-unstyled order-list m-b-0 m-b-0">
                    @foreach (var c in item.Where(x => x.Chef != null))
                    {
                      <li class="team-member team-member-sm"><img class="rounded-circle" src="@c.Chef.ChefImageUrl"
                          alt="user" data-toggle="tooltip" title="" data-original-title="@c.Chef!.ChefName"></li>
                    }

                  </ul>
                </td>
                <td class="align-middle">
                  <div class="progress-text">@first.GroupOrganization.ParticipationRate%</div>
                  <div class="progress" data-height="6">
                    <div class="progress-bar bg-success" data-width="@first.GroupOrganization.ParticipationRate%"></div>
                  </div>
                </td>
                <td>@first.GroupOrganization.Date</td>
                <td>@first.GroupOrganization.Time</td>

                <td>
                  @if (first.GroupOrganization.GroupPriority == 1)
                  {
                    <div class="badge badge-warning">Az</div>
                  }
                  else if (first.GroupOrganization.GroupPriority == 2)
                  {
                    <div class="badge badge-danger">Orta</div>
                  }
                  else
                  {
                    <div class="badge badge-success">Yüksek</div>
                  }
                </td>
                <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
              </tr>
            }
          </table>
        </div>
      </div>
    </div>
  </div>
</div>