@using YummyUI.DTOs.ProductDTOs
@model List<ResultProductDto>

<div class="tab-content" data-aos="fade-up" data-aos-delay="200">
@{
    bool firstTab = true;

    var groups = Model
        .GroupBy(x => x.CategoryId)
        .ToList();
}

@foreach (var g in groups)
{
    <div class="tab-pane fade @(firstTab ? "show active" : "")"
         id="menu-@g.Key">

        <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Category</h3>
        </div>

        <div class="row gy-5">
            @foreach (var item in g)
            {
                <div class="col-lg-4 menu-item">
                    <a href="@item.ImageFile" class="glightbox">
                        <img src="@item.ImageFile" class="menu-img img-fluid" alt="@item.ProductTitle">
                    </a>

                    <h4>@item.ProductTitle</h4>

                    <p class="ingredients">
                        @item.ProductDescription
                    </p>

                    <p class="price">
                        @item.ProductPrice
                    </p>
                </div>
            }
        </div>
    </div>

    firstTab = false;
}
</div>
