@using YummyUI.DTOs.ServiceDTOs
@model List<ResultServiceDto>
@{
    Layout ="_AdminLayout";
    var count =0;
}

<div class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 md-12 lg-col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Servisler</h4>
                    </div>
                    <div class="card-body">
                         <div class="table-responsive">
            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Servis İkonu</th>
                  <th>Servis İsmi</th>
                  <th>Servis Hakkında</th>
                  <th>Servis Durumu</th>
                  <th>Servis Sil</th>
                  <th>Servis Güncelle</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var service in Model)
                {
                  <tr>

                    <td>@(++count)</td>
                    <td>@service.ServiceIcon</td>
                    <td>@service.ServiceTitle</td>
                    <td>@service.ServiceDescription</td>
                    <td>@(service.ServiceStatus ? "Aktif" : "Pasif")</td>
                    
                    <td><a asp-action="ServiceDelete" asp-controller="Service" asp-route-id="@service.ServiceId"
                        class="btn btn-danger">Sil</a></td>
                    <td><a asp-action="ServiceUpdate" asp-controller="Service" asp-route-id="@service.ServiceId"
                        class="btn btn-warning">Güncelle</a></td>
                  </tr>
                }
              </tbody>
            </table>
            <a asp-action="CreateService" asp-controller="Service" class="btn btn-info">Yeni Servis Girişi</a>
          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>